@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-slate-50 text-slate-900;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease forwards;
}
